@use "sass:color";
$header-height: 50px;
$header-width: 800px;
$header-spacing: -$header-height;

$border: 1px;

// colors;
$background: #000000;
$foreground: #ffffff;
$alternate: #6e6e73;
$white: #ffffff;
$grey: color.adjust($white, $alpha: -0.55); // #aaaaaacb
$accent: #03ff40;
$button: #226726;
$button-color: $white;
$highlight: #226726;

// $footer: #f5f5f7;
// $footer-text: #000000bb;
// $footer-link: #0066cc;

$footer: color.adjust($background, $lightness: 15%);
$footer-text: $foreground;
$footer-link: #3586d7;
