@use "@/styles/variables";

// text styles
span {
  &.grey {
    color: variables.$grey;
    // alternate shade for contrast
    // color: #929292bd;
  }
  &.white {
    color: variables.$white;
  }
  &.green {
    color: variables.$accent;
  }
}
