@import "@/styles/variables.scss";
.wrapper {
  margin: auto;
  margin-bottom: 60px;
  margin-top: 50px;
  @media (max-width: 1000px), (max-height: 600px) {
    margin-bottom: 40px;
    margin-top: 20px;
  }
  @media (max-width: 750px), (max-height: 350px) {
    margin-bottom: 20px;
    margin-top: 40px;
  }
  .container {
    max-width: var(--part-width);
    margin: 0 50px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    .header,
    .text {
      text-align: center;
      font-weight: 600;

      &.header {
        font-size: 90px;
        padding-bottom: 0.1em;
        @media (max-width: 1100px), (max-height: 600px) {
          font-size: 80px;
        }
        @media (max-width: 750px), (max-height: 350px) {
          font-size: 52px;
        }
      }
      &.text {
        font-size: 32px;
        text-align: center;
        max-width: 700px;
        @media (max-width: 1000px), (max-height: 600px) {
          font-size: 24px;
        }
        @media (max-width: 750px), (max-height: 350px) {
          font-size: 18px;
        }
      }
    }
  }
}
