@use "sass:color";
@use "@/styles/variables";

.container {
  position: relative;
  // margin-top: calc(-1 * variables.$border);
  font-size: 14px;
  background-color: variables.$footer;
  color: variables.$footer-text;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 20px 60px;
  .alt {
    color: color.adjust(variables.$footer-text, $alpha: -0.5);
  }
  .links {
    display: inline-flex;
    flex-flow: row nowrap;
    .link {
      color: variables.$footer-text;
      text-decoration: none;
    }
    .linkSeparator {
      display: inline-block;
      height: 1em;
      width: variables.$border;
      border-radius: variables.$border;
      background-color: color.adjust(variables.$footer-text, $alpha: -0.3);
      align-self: center;
      margin: 0 10px;
    }
  }
  ::selection {
    background: color.adjust(variables.$highlight, $alpha: -0.8);
    color: variables.$highlight;
  }

  .link {
    color: variables.$footer-link;
    text-underline-offset: 2px;
    &:hover {
      text-decoration: underline;
    }
  }
  @media (max-width: 750px) {
    flex-flow: column;
    align-items: center;
    gap: 10px;
  }
}
