@use "sass:color";
@use "@/styles/variables";

.container {
  position: sticky;
  top: 0;
  z-index: 100;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: variables.$header-height;
    padding: 0px 16px;
    max-width: variables.$header-width;
    margin: 0 auto;
    color: variables.$white;
    font-size: 12px;

    .title {
      font-size: 16px;
      font-weight: 520;
      user-select: none;
    }

    .nav {
      ul {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        position: relative;

        li {
          list-style-type: none;
          opacity: 0.6;
          border-bottom: variables.$border solid
            color.adjust(variables.$white, $alpha: -1);
          a {
            display: inline-block;
            line-height: calc(variables.$header-height - 1px);
            text-decoration: none;
            padding: 0 10px;
          }

          &.action {
            opacity: 1;
            margin-left: 10px;
            a {
              margin: calc(
                  (variables.$header-height - variables.$border - 24px) / 2
                )
                0;
              display: inline-flex;
              align-items: center;
              padding: 7px 10px;
              height: 24px;
              opacity: 1;
              line-height: 12px;
              background-color: variables.$button;
              color: variables.$button-color !important;
              border-radius: 15px;
            }
          }
        }
        .highlight {
          top: 0;
          left: 0;
          z-index: -1;
          border-bottom: solid 1px white;
        }
      }
    }
    .separator {
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      border: none;
      height: variables.$border;
      position: absolute;
      background: #aaa;
      opacity: 0.3;
    }
  }
}
