@import "@/styles/variables.scss";
@import "./StatMedia.module.scss";
.wrapper {
  .stats {
    width: 100%;
    padding: 0 !important;
    align-items: center;
    justify-content: space-evenly;
    align-items: stretch !important;
    display: flex;
    flex-flow: row wrap !important;
    gap: $border !important;
    .stat {
      max-width: unset !important;
      flex: 1 0 350px !important;
      @media (max-width: 1000px), (max-height: 600px) {
        flex-basis: 300px !important;
      }
      @media (max-width: 750px), (max-height: 350px) {
        flex-basis: 200px !important;
      }
      width: min(max(250px, 15vw), 400px) !important;
      height: unset !important;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      .statNumber {
        width: 100%;
        max-width: 340px;
      }
      .statText {
        max-width: 340px;
        margin-right: auto;
      }
    }
    padding: 0;
    gap: $border;
    background-color: $alternate;
    flex-flow: row nowrap;
    .stat {
      background-color: $background;
      flex: 1 0 200px;
      padding: 50px 20px;
      height: 100%;
      .statFirst {
        margin-top: -1em !important;
      }
    }
  }
}
